.chips {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 8px;
}

.gray {
  background-color: gray;
}
.red {
  background-color: red;
}

.font-medium{
    font-size: medium;
}