<div class="container">
    <div class="d-flex content">
        <button mat-flat-button color="primary"> My Task</button>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horizontal</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span>Btn 1</span>
            </button>
            <button mat-menu-item>
                <span>Btn 3</span>
            </button>
        </mat-menu>

    </div>


</div>
<div class="container py-2">

    <div>
        <h2>Today's Progress</h2>
       <span *ngIf="taskList.length >0" class="font-weight-bold"> {{(doneCount/ taskList.length) | percent}} </span>   <mat-slider min="0" [max]="taskList.length" step="1" [value]="doneCount" tickInterval="auto"></mat-slider>
    </div>
    <div class="mb-3 d-flex justify-content-around">
        <span class="chips red">High {{criticalCount}}</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horizontal</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span>Btn 1</span>
            </button>
            <button mat-menu-item>
                <span>Btn 3</span>
            </button>
        </mat-menu>

    </div>
    <ul>
        <li *ngFor="let item of (taskList | taskPriorityPipe :'High') ; trackBy:trackById; "
            class="font-medium font-weight-bold my-3">
            <p class="my-1"> {{item.attr.description}} </p>

            <mat-icon>keyboard_arrow_right</mat-icon>
            <span *ngIf="item.due_dt === currentDate| date:'yyyy-mm-dd'; else showTime" class="font-red">
                Due Today </span>
            <ng-template #showTime>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span class="font-red"> Due {{item.due_dt}} </span>
            </ng-template>
        </li>

    </ul>
    <!-- </div> -->

    <div class="mb-1 d-flex justify-content-around">
        <span class="chips gray">ALl {{taskList.length}}</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horizontal</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span>Btn 1</span>
            </button>
            <button mat-menu-item>
                <span>Btn 3</span>
            </button>
        </mat-menu>
    </div>
    <ul>
        <li *ngFor="let item of taskList; trackBy:trackById" class="font-medium font-weight-bold my-3">
            <p class="my-1"> {{item.attr.description}} </p>
            <mat-icon>keyboard_arrow_right</mat-icon>

            <span *ngIf="item.due_dt === currentDate| date:'yyyy-mm-dd'; else showTime" class="font-red"> Due Today
            </span>
            <ng-template #showTime>
                <mat-icon>keyboard_arrow_right</mat-icon>

                <span class="font-red"> Due {{item.due_dt}} </span>
            </ng-template>
        </li>

    </ul>
</div>